body {
  font-size: small;
  background-color: #f4f4f4;
}
/*anchors*/
body a {
  text-decoration: none;
  font-weight: bold;
  color: #0f6894;
  font-size: 115%;
}
body a:hover {
  color: #00a7e5; 
}

body a.alternate {
  color: #f04850;
  font-size: 85%;
  font-weight: normal;
}

body a.alternate:hover {
  color: #f3696f;
}

footer {
  clear: both;
  margin-top: 700px;
}

div#body {
  position: relative;
  padding: 1% 2%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*buttons*/
input[type="button"], input[type="submit"], .button {
  cursor: pointer;
  display: inline;
  padding: 0.25em 0.75em; 
  border: 1px solid #a0a0a0; 
  -webkit-border-radius: 3px;
  border-radius: 3px; 
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 23%, #f7f7f7 62%, #e2e2e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#ffffff), color-stop(62%,#f7f7f7), color-stop(100%,#e2e2e2));
  background: -webkit-linear-gradient(top,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
  background: -o-linear-gradient(top,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
  background: -ms-linear-gradient(top,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
  background: linear-gradient(to bottom,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
}
input[type="button"]:hover, input[type="submit"]:hover, .button:hover, 
input[type="button"].clicked, input[type="submit"].clicked, .button.clicked, 
input[type="button"].selected, input[type="submit"].selected, .button.selected {
  background: #e2e2e2;
  background: -moz-linear-gradient(top,  #e2e2e2 0%, #f7f7f7 33%, #ffffff 64%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(33%,#f7f7f7), color-stop(64%,#ffffff));
  background: -webkit-linear-gradient(top,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
  background: -o-linear-gradient(top,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
  background: -ms-linear-gradient(top,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
  background: linear-gradient(to bottom,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
}
.button-container {
  padding: 0;
}
/*separators*/
/*TODO: Still needs some work...*/
div.separator {
  clear: both;
  -webkit-border-radius: 3px;
  border-radius: 3px; 
  height: 12px;
  -webkit-box-shadow: 0px 6px 9px rgba(176, 176, 176, 1);
  -moz-box-shadow:    0px 6px 9px rgba(176, 176, 176, 1);
  box-shadow:         0px 6px 9px rgba(176, 176, 176, 1);
  background: #f4f4f4;
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #f4f4f4 13%, #d6d6d6 63%, #adadad 91%, #adadad 98%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(13%,#f4f4f4), color-stop(63%,#d6d6d6), color-stop(91%,#adadad), color-stop(98%,#adadad), color-stop(100%,#f4f4f4));
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f4f4f4 13%,#d6d6d6 63%,#adadad 91%,#adadad 98%,#f4f4f4 100%);
  background: -o-linear-gradient(top,  #f4f4f4 0%,#f4f4f4 13%,#d6d6d6 63%,#adadad 91%,#adadad 98%,#f4f4f4 100%);
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#f4f4f4 13%,#d6d6d6 63%,#adadad 91%,#adadad 98%,#f4f4f4 100%);
  background: linear-gradient(to bottom,  #f4f4f4 0%,#f4f4f4 13%,#d6d6d6 63%,#adadad 91%,#adadad 98%,#f4f4f4 100%);
}

/* Styles for the top nav, including logo */

nav[role="navigation"] {
  width: 100%;
  height: 100px;
  padding: 12px 32px; /*8px of padding on the li's*/
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #a0a0a0; 
  overflow: hidden;
  position: fixed;
  z-index: 10;
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #DBDBDB 100%);
}
nav[role="navigation"] li {
  float: right;
  padding: 8px;
}
nav[role="navigation"] li:first-child {
  float: left;
}
nav[role="navigation"] img.logo, 
nav[role="navigation"] img.tagline {
  width: 12em; 
}

div#main-container { 
  overflow: hidden;
  position: relative;
  margin-top: 78px;
  width: 100%;
}

div#lower-container {
  width: 100%;
  margin-top: 0;
  position: relative;
}

div#content {
  position: relative;
  margin-top: 100px;
}

div#tools-separator {
  position: fixed;
  z-index: 1;
  width: 85%;
  margin-left: 5%;
  margin-top: -35px;
}

/* Styles for the tool bar  */

ul#tools {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: #f4f4f4;
  padding-top: 20px;
}

ul#tools li {
  float: left;
}

ul#tools li:first-child {
  padding-top: 1.05em;
  padding-right: 5%;
  width: 30%; 
}

#search input[type="text"] {
  height: 1.55em;
  -moz-border-radius: 1px; 
  -webkit-border-radius: 1px; 
  border-radius: 1px; 
  border: 1px outset rgba(0,0,0,0.5);
  margin-right: 0;
}

#search .button {
  height: 1.55em;
  font-weight: bold;
  margin-left: 0.3em;
  padding: 0.35em 1em;
}

dl#sort dd .button {
  width: 5em;
}

dl#sort dt {
  font-size: 85%;
  color: #a0a0a0;
  margin-bottom: 0.85em;
  margin-top: 0.2em;
}

dl#sort dd {
  display: inline;
}

/*button on the left*/
dl#sort dd:nth-child(even) .button {
  margin-right: 0;
  -moz-border-radius: 3px 0px 0px 3px; 
  -webkit-border-radius: 3px 0px 0px 3px; 
  border-radius: 3px 0px 0px 3px; 
}
/*button on the right*/
dl#sort dd:nth-child(odd) .button {
  margin-left: -5px;
  -moz-border-radius: 0px 3px 3px 0px; 
  -webkit-border-radius: 0px 3px 3px 0px; 
  border-radius: 0px 3px 3px 0px; 
}


/* List and map */
div#list-container {
  position: relative;
  z-index: 0;
  width: 40%;
  float: left;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li.list-item {
  padding: 0;
  background-color: #fff;
  margin: 10px 0;
  cursor: pointer;
  -webkit-box-shadow: 1px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-border-radius: 4px 4px 8px 8px;
  -webkit-border-radius:4px 4px 8px 8px;
  border-radius: 4px 4px 8px 8px;
}

li.list-item:hover {
  -webkit-box-shadow: 2px 8px 5px rgba(50, 50, 50);
  -moz-box-shadow: 2px 8px 5px rgba(50, 50, 50);
  box-shadow: 2px 8px 5px rgba(50, 50, 50);
}

li.list-item.selected {
  margin: 20px 0;
  -webkit-box-shadow: 2px 8px 5px rgba(50, 50, 50);
  -moz-box-shadow: 2px 8px 5px rgba(50, 50, 50);
  box-shadow: 2px 8px 5px rgba(50, 50, 50);
}


li.list-item span {
  font-size: 85%;
  display: block;
  padding: 4px 12px; 
  text-align: left;
}

li.list-item span:first-child {
  padding-top: 12px;
}

li.list-item span.event-title {
  font-size: 100%;
  font-weight: bold;
}

li.list-item span.show-more {
  text-align: center;
  font-size: 125%;
  color: #fff;
  line-height: 200%;
  background-image: -ms-linear-gradient(top, #0987B0 0%, #115E8A 100%);
  background-image: -moz-linear-gradient(top, #0987B0 0%, #115E8A 100%);
  background-image: -o-linear-gradient(top, #0987B0 0%, #115E8A 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0987B0), color-stop(1, #115E8A));
  background-image: -webkit-linear-gradient(top, #0987B0 0%, #115E8A 100%);
  background-image: linear-gradient(to bottom, #0987B0 0%, #115E8A 100%);
  /*corners must be sharper than the corners of the containing li*/
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

li.list-item span.show-more span {
  display: inline;
  line-height: 200%;
}
li.list-item span.show-more img {
  vertical-align: middle; 
  margin-top: -2px; /*compensate for the text's padding*/
}

li.list-item ul.event-expanded {
  list-style: square inside url("/images/list_arrow.png");
  padding: 12px;
}

li.list-item ul.event-expanded li {
  padding: 12px 0; 
}

div#map-container {
  float: right;
  width: 54%;
  margin-left: 40%;
  height: 65%;
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 5px solid black;
  position: fixed;
}
div#map {
  height: 100%;
}
