body {
  font-size: small;
  background-color: #f4f4f4;
}
/*anchors*/
body a {
  text-decoration: none;
  font-weight: bold;
  color: #0f6894;
  font-size: 115%;
}
body a:hover {
  color: #00a7e5; 
}
/*buttons*/
input[type="button"], input[type="submit"], .button {
  padding: 0.25em 0.75em; 
  border: 1px solid #a0a0a0; 
  -webkit-border-radius: 3px;
  border-radius: 3px; 
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 23%, #f7f7f7 62%, #e2e2e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#ffffff), color-stop(62%,#f7f7f7), color-stop(100%,#e2e2e2));
  background: -webkit-linear-gradient(top,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
  background: -o-linear-gradient(top,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
  background: -ms-linear-gradient(top,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
  background: linear-gradient(to bottom,  #ffffff 23%,#f7f7f7 62%,#e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
}
input[type="button"]:hover, input[type="submit"]:hover, .button:hover {
  background: #e2e2e2;
  background: -moz-linear-gradient(top,  #e2e2e2 0%, #f7f7f7 33%, #ffffff 64%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(33%,#f7f7f7), color-stop(64%,#ffffff));
  background: -webkit-linear-gradient(top,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
  background: -o-linear-gradient(top,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
  background: -ms-linear-gradient(top,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
  background: linear-gradient(to bottom,  #e2e2e2 0%,#f7f7f7 33%,#ffffff 64%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff',GradientType=0 );
}
/* Styles for the top nav, including logo */

nav[role="navigation"] {
  width: 100%;
  border-bottom: 3px solid #a0a0a0; 
  overflow: hidden;
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #DBDBDB 100%);
}
nav[role="navigation"] li {
  float: right;
  padding: 8px;
}
nav[role="navigation"] li:first-child {
  float: left;
  padding-left: 20px;
}
nav[role="navigation"] li.last {
  padding-right: 20px;
}
nav[role="navigation"] img.logo, 
nav[role="navigation"] img.tagline {
  width: 175px; 
}

/* Styles for the tool bar  */

ul#tools {
  padding: 2em;
  overflow: hidden;
  height: 3em;
}

ul#tools form#search {
  float: left;
  padding-top: 1.05em;
  padding-right: 10%;
  /*width: 30%;*/
}

ul#tools form#search input[type="text"] {
  height: 1.55em;
  -moz-border-radius: 1px; 
  -webkit-border-radius: 1px; 
  border-radius: 1px; 
  border: 1px outset rgba(0,0,0,0.5);
  margin-right: 0;
}

ul#tools form#search input[type="button"] {
  margin-left: -2px;
}

ul#tools dl#sort {
  float: left;
}

dl#sort dd.button {
  width: 5em;
}

dl#sort dt {
  font-size: 85%;
  color: #a0a0a0;
  margin-bottom: 0.85em;
}

dl#sort dd {
  display: inline;
}

/*button on the left*/
dl#sort dd.button:nth-child(even) {
  margin-right: 0;
  -moz-border-radius: 3px 0px 0px 3px; 
  -webkit-border-radius: 3px 0px 0px 3px; 
  border-radius: 3px 0px 0px 3px; 
}
/*button on the right*/
dl#sort dd.button:nth-child(odd) {
  margin-left: -5px;
  -moz-border-radius: 0px 3px 3px 0px; 
  -webkit-border-radius: 0px 3px 3px 0px; 
  border-radius: 0px 3px 3px 0px; 
}


/*separator*/
/*TODO: Still needs some work...*/
div.separator {
  margin: 18px 80px 50px 80px;
  height: 16px;
  opacity: 0.75;
  -moz-box-shadow: 0px 10px 12px rgba(210,210,210,0.85);
  -webkit-box-shadow: 0px 10px 12px rgba(210,210,210,0.85);
  box-shadow: 0px 10px 12px rgba(210,210,210,0.85);
  -moz-border-radius: 0px 0px 5px 5px; 
  -webkit-border-radius: 0px 0px 5px 5px; 
  border-radius: 0px 0px 5px 5px; 
  background: -moz-linear-gradient(top,  #f4f4f4 29%, #dedede 95%, #c1c1c1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,#f4f4f4), color-stop(95%,#dedede), color-stop(100%,#c1c1c1));
  background: -webkit-linear-gradient(top,  #f4f4f4 29%,#dedede 95%,#c1c1c1 100%);
  background: -o-linear-gradient(top,  #f4f4f4 29%,#dedede 95%,#c1c1c1 100%);
  background: -ms-linear-gradient(top,  #f4f4f4 29%,#dedede 95%,#c1c1c1 100%);
  background: linear-gradient(to bottom,  #f4f4f4 29%,#dedede 95%,#c1c1c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#c1c1c1',GradientType=0 );
}

/* List and map */
div#content { 
  overflow: hidden;
  padding: 20px;
}
div#list-container {
  width: 35%;
  float: left;
  border 1px solid red;
}

div#map-container {
  float: right;
  width: 60%;
  height: 500px;
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 5px solid black;
}
div#map {
  border 1px solid red;
  width: 100%;
}
