.bash*
.vim*
.ssh
.cache
web/server/logs/*
web/.htpasswd
api/*.rbc
api/*.sassc
api/.sass-cache
api/capybara-*.html
api/.rspec
api/.bundle
api/vendor/bundle
api/log/*
api/tmp/*
api/db/*.sqlite3
api/public/system/*
api/coverage/
api/spec/tmp/*
api/**.orig
api/rerun.txt
api/pickle-email-*.html
api/config/development.sphinx.conf
api/db/sphinx
