/*Fix for bad google maps - bootstrap interaction*/
#map-container img {
	max-width: none;
}

#map-container {
	padding: 10px;
  background-color: #eeeeee;
	height: 500px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/* items in the list view */
li.list-item {
	background-color: #F2FFEE;
	border: 2px solid #A5DDAD;
	margin-bottom: 5px;
	padding: 10px 10px 3px 10px;
	color: #222;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

li.list-item:hover {
	background-color: #A5DDAD;
}

li.list-item.selected {
	background-color: #A0CCA0;
	border: 2px solid #A0CCA0;
}
 
div.info-window-title {
	font-weight: bold;
}

.event-title {
	font-size: 14pt;
	font-weight: bold;
}

.load-button img {
  margin-top: 250px;
  position: relative; 
  max-width: 50px;
}

.load-button.right img {
  float: right;  
  margin-left -20px;
}

.load-button.left img {
  float: left;  
  margin-right: -20px;
}
