/**************
General styles
**************/
body {
  padding: 0px;
}
ul, ol {
  list-style: none inside none;
}

/************************
 Navbar styles
************************/
.navbar {
  top: 0;
  position: relative;
  z-index: 2;
  margin-bottom: 18px;
  width: 100%;
  height: 75px;
  /*background*/
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #8A8A8A, #222222);
  background-image: -ms-linear-gradient(top, #8A8A8A, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8A8A8A), to(#222222));
  background-image: -webkit-linear-gradient(top, #8A8A8A, #222222);
  background-image: -o-linear-gradient(top, #8A8A8A, #222222);
  background-image: linear-gradient(top, #8A8A8A, #222222);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8A8A8A', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
ul.nav {
  display: block;
}
ul.nav li {
  width: 50px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}
ul.nav li.first {
  float: left;
  margin-left: -40px;
}
ul.nav li.middle {
  width: 100px;
}
ul.nav li.last {
  float: right;
  margin-top: -75px;
}
img.logo {
  max-height: 25px;
  margin-top: 20px;
}

li.load-button {
  background-color: #888;
}

.load-button img {
  max-width: 50px;
  margin-top: 15px;
}

.load-button a:not(.clickable) {
  opacity: 0.3;
}


/*******************
styles for the list
*******************/
div#list-container {
}

/* items in the list view */
li.list-item {
	background-color: #F2FFEE;
	border: 2px solid #A5DDAD;
	margin-bottom: 1px;
  margin-left: -35px;
  margin-right: auto;
	color: #222;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

li.list-item div.ember-view {
  display: inline;
}

li.list-item span.show-more a {
  font-style: italic;
  color: #333333;
}
 

